<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	
	<script type="text/javascript">
	   
	</script>
	
	<title>Cadastro do jogador UOL</title>
</head>
<body>
	<h1>Cadastro do jogador UOL</h1>
	
	<div th:if="${messageType}">
		<div th:if="${message}">
			<span th:if="${messageType eq 'sucesso'}" th:text="${message}" style="color: blue; font-weight: bold;" />
			<span th:if="${messageType eq 'erro'}" th:text="${message}" style="color: red; font-weight: bold;" />
		</div>
		<div th:if="${detailMessage}">
			<span th:if="${messageType eq 'sucesso'}" th:text="${detailMessage}" style="color: blue; font-weight: bold;" />
			<span th:if="${messageType eq 'erro'}" th:text="${detailMessage}" style="color: red; font-weight: bold;" />
		</div>
		<br>
	</div>
	
	<form action="#" th:action="@{/cadastrarJogador}" th:object="${playerVO}" method="post">
		 <table>
            <tr>  
                <td><label for="nome">Nome:</label>  
                <input type="text" name="nome" th:field="*{nome}" size="60" maxlength="200" /></td>
                <td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Nome é obrigatório</td>
            </tr>  
            <tr>  
                <td><label for="email">Email:</label>  
                <input type="text" name="email" th:field="*{email}" maxlength="60"/></td>
                <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email é obrigatório</td>  
            </tr>
            <tr>  
                <td><label for="telefone">Telefone:</label>  
                <input type="text" name="telefone" th:field="*{telefone}" /></td>
            </tr>
        </table>
        <br>
    	
    	<div>Quero ser do grupo:</div>
    	<div th:if="${#fields.hasErrors('playerGroup')}" th:errors="*{playerGroup}">Selecione um grupo!</div> 
        <table>
			<tr th:each="group : ${listarGrupos}">
				<td>
				  	<input type="radio" th:id="${{group}}" th:value="${{group}}" th:field="*{playerGroup}" />
				  	<label th:text="${group.label}"></label>
			  	</td>
		  	</tr>
		</table>
		<br>
		
		<table>
			<tr>
	            <td></td>  
	            <td><input type="submit" value="Cadastrar"></input></td>
	            <td><input type="submit" value="Visualizar relatório de jogadores" th:formaction="@{/listarJogadores}" formmethod="post"></input></td>
	        </tr>
        </table>
	</form>
</body>
</html>