<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Home Page</title>
</head>
<body>
	<h1>Cadastro do jogador UOL</h1>
	
	<form action="#" th:action="@{/cadastrarJogador}" th:object="${playerVO}" method="post">
		 <table>
            <tr>  
                <td><label for="nome">Nome:</label>  
                <input type="text" name="nome" th:field="*{nome}" /></td>  
            </tr>  
            <tr>  
                <td><label for="email">Email:</label>  
                <input type="text" name="email" th:field="*{email}"/></td>  
            </tr>
            <tr>  
                <td><label for="telefone">Telefone:</label>  
                <input type="text" name="telefone" th:field="*{telefone}" /></td>  
            </tr>
        </table>
        <br>
    	
    	<div>Quero ser do grupo:</div>
        <table>
			<tr th:each="group : ${listarGrupos}">
				<td>
				  	<input type="radio" th:id="${{group}}" th:value="${{group}}" th:field="*{playerGroup}" />
				  	<label th:text="${group.label}"></label>
			  	</td>
		  	</tr>
		</table>
		<br>
		
		<table>
			<tr>
	            <td></td>  
	            <td><input type="submit" value="Submit"></input></td>  
	        </tr>
        </table>
	</form>
</body>
</html>