<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Jogadores cadastrados</title>
	
	<style>
		table {
		  border-collapse: collapse;
		}
		table, th, td {
		  border: 1px solid black;
		}
	</style>
</head>
<body>
	<h1>Jogadores cadastrados</h1>
	
	<div th:if="${messageType}">
		<div th:if="${message}">
			<span th:if="${messageType eq 'sucesso'}" th:text="${message}" style="color: blue; font-weight: bold;" />
			<span th:if="${messageType eq 'erro'}" th:text="${message}" style="color: red; font-weight: bold;" />
		</div>
		<div th:if="${detailMessage}">
			<span th:if="${messageType eq 'sucesso'}" th:text="${detailMessage}" style="color: blue; font-weight: bold;" />
			<span th:if="${messageType eq 'erro'}" th:text="${detailMessage}" style="color: red; font-weight: bold;" />
		</div>
		<br>
	</div>

	<form action="#" method="post">
		<div th:if="${players == null || players.empty}">
			<h2>Não há usuários cadastrados.</h2>
		</div>
		<div th:unless="${players == null || players.empty}">
			<table>
				<thead>
					<tr>
						<th>Nome</th>
						<th>Email</th>
						<th>Telefone</th>
						<th>Codinome</th>
						<th>Grupo</th>
						<th>Editar</th>
						<th>Remover</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="player : ${players}">
						<td th:text="${player.nome}"></td>
						<td th:text="${player.email}"></td>
						<td th:text="${player.telefone}"></td>
						<td th:text="${player.codinome}"></td>
						<td th:text="${player.playerGroup.label}"></td>
						<td><input type="submit" value="Editar" th:formaction="@{/edit/{id}(id=${player.id})}" formmethod="post"></input></td>
						<td><input type="submit" value="Remover" th:formaction="@{/delete/{id}(id=${player.id})}" formmethod="post"></input></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<br>
		<div>
			<input type="submit" value="Novo jogador" th:formaction="@{/preCadastrarJogador}" formmethod="get"></input>
		</div>
	</form>
</body>
</html>