<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Home Page</title>
</head>
<body>
	<h1>Olá!</h1>
	<p>Conteúdo do arquivo: <span th:text="${conteudoArquivo}"></span></p>
	
	<form action="#" th:action="@{/validarAlgo}" th:object="${playerVO}" method="post">
    	<input type="text" th:field="*{nome}" />
    	
    	<ul>
		  <li th:each="group : ${listarGrupos}">
		    <input type="radio" th:field="*{playerGroup}" th:value="${group.number}" />
		    <label th:for="${#ids.prev('playerGroup')}" th:text="${group.label}"></label>
		  </li>
		</ul>
	</form>
</body>
</html>